.blog-entry-date {background-position:0 1px;}
p.blog-entry-tags {background-position:-2000px 1px;}
.blog-archive-link-enabled {background-position:-5000px 1px;}
#blog-categories a {background-position:-4000px 1px;}
.blog-rss-link {background-position:-3000px 2px;}