
#stacks_out_70_page9 {
	margin-left:0;
}

#stacks_in_70_page9 {
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	padding: 7px 0px 7px 0px;
}

#stacks_in_71_page9 {
	font-size: 101%;
}

#stacks_out_66_page9 {
	margin-left:0;
}

#stacks_in_66_page9 {
	border: solid #000000;
	border-width: 1px 0px 0px 0px;
	margin: 16px 0px 0px 0px;
}

#stacks_in_68_page9 {
	padding: 0px 0px 12px 0px;
}

#stacks_in_79_page9 {
	margin: 16px 0px 0px 0px;
}
