body {font-size: 10px;}

#menuContainer, #navigation {height: 25px;}
.menu ul #current, .menu ul .currentAncestor {height: 30px;line-height: 35px;}
.menu ul a {height: 25px;line-height: 25px;}
.menu ul li.ddarrow span {height: 25px;}
.menu ul ul {top: 25px;}

#footer {height: 2.45em;line-height: 2.35em;}
