#topContainer, #menuContainer, #navigation, #menuShadow, #midContainer, #headerImageLower, #EC6Wrapper, #bottomContainer, #breadcrumbcontainer {width: 1000px;}

#EC1Wrapper {width: 1050px;}
#EC1TabWrapper {width: 970px;}
#extraContainer1 {width: 950px;}