#topContainer, #menuContainer, #navigation, #menuShadow, #midContainer, #headerImageLower, #EC6Wrapper, #bottomContainer, #breadcrumbcontainer {width: 1100px;}

#EC1Wrapper {width: 1150px;}
#EC1TabWrapper {width: 1070px;}
#extraContainer1 {width: 1050px;}