#topContainer, #menuContainer, #navigation, #menuShadow, #midContainer, #headerImageLower, #EC6Wrapper, #bottomContainer, #breadcrumbcontainer {width: 600px;}

#EC1Wrapper {width: 650px;}
#EC1TabWrapper {width: 570px;}
#extraContainer1 {width: 550px;}

#extraContainer2, #extraContainer3 {width: 25%;}