#topContainer, #menuContainer, #navigation, #menuShadow, #midContainer, #headerImageLower, #EC6Wrapper, #bottomContainer, #breadcrumbcontainer {width: 700px;}

#EC1Wrapper {width: 750px;}
#EC1TabWrapper {width: 670px;}
#extraContainer1 {width: 650px;}