#topContainer, #menuContainer, #navigation, #menuShadow, #midContainer, #headerImageLower, #EC6Wrapper, #bottomContainer, #breadcrumbcontainer {width: 800px;}
#contentContainer {width: 520px;}
#sidebarContainer {width: 245px;}

#EC1Wrapper {width: 850px;}
#EC1TabWrapper {width: 770px;}
#extraContainer1 {width: 750px;}