#topContainer, #menuContainer, #navigation, #menuShadow, #midContainer, #headerImageLower, #EC6Wrapper, #bottomContainer, #breadcrumbcontainer {width: 960px;}

#EC1Wrapper {width: 1010px;}
#EC1TabWrapper {width: 930px;}
#extraContainer1 {width: 910px;}